[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
